html, body {
  height: 100%;
}

article {
  padding-top: 25px;
}

.reference {
  margin-bottom: 0;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -30px;
}

.footer {
  text-align: center;
  width: 100%;
}

.footer, .push {
  height: 30px;
}

.dropdown {
  float: left;
  display: block;
  width: 5%;
  margin-top: 150px;
  padding-left: 80px;
}

#chartContainer {
  width: 90%;
  svg {
    display: block;
    margin: auto;
  }
}
