/* ------------------------- *
 * ---------MAIN.CSS-------- *
 * ------------------------- */

/* General formatting */

html, body {
  height: 100%;
}

article {
  padding-top: 25px;
}

h1 {
  text-align: center;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -30px;
}

/* Sub title text */

.lead {
  padding-top: 30px;
  text-align: center;
}

/* Footer */

.footer {
  text-align: center;
  width: 100%;
}

.footer, .push {
  height: 30px;
}

/* Selecting features and schools for visualization */

.feature-selector {
  float: left;
  display: block;
}

#dropdownMenu1 {
  width: 159px;
}

.dropdown {
  margin-top: 150px;
  padding-left: 30px;
}

.dropdown-menu {
  margin-left: 30px;
}

.remove-school-button {
  font-size: 11px;
  margin-left: 25px;
  margin-right: 0;
  top: -4px;
  float: right;
  position: relative;
}

/* Visualization */

#chartContainer {
  svg {
    display: block;
    margin: auto;
  }
}
